<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>CAS Authentication Server</title>
  <link href="/stylesheets/screen.css?<%= Time.now.usec %>" media="screen" rel="stylesheet" type="text/css" />
  <script src="/javascripts/jquery.js?<%= Time.now.usec %>" type="text/javascript"></script>  
  <script src="/javascripts/application.js?<%= Time.now.usec %>" type="text/javascript"></script>  
</head>
<body>
  <div class="container">
    <div id="header">
      <h1><a href="/login" title="<%= Castronaut.config.organization_name || 'CAS Server' %>"><%= Castronaut.config.organization_name || 'CAS Server' %></a></h1>
    </div>
 
    <div id="content">
      <%= yield %>    
      <% if Castronaut.config.respond_to?(:extra_ui_actions) %>
        <% Castronaut.config.extra_ui_actions.each_pair do |text, href| %>
          <a href="<%= href %>"><%= text %></a>
        <% end %>
      <% end %>
    </div>  
  </div>

</body>
</html>
